ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
}

.nav-link {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-link:hover {
    opacity: .7;
}
  
.active {
    text-decoration: underline;
    text-decoration-color: #f9f9f9;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}