.input-container {
  background-color: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-container > input {
  all: unset;
  border-bottom: 1px solid var(--primary);
  width: 90%;
  height: 40px;
  font-size: 1.2rem;
}

.input-container > label {
  all: unset;
  color: var(--dark-font);
  font-size: 0.95rem;
  position: absolute;
  top: -14px;
}

.input-container > input:focus {
  border-color: var(--secondary);
}
