.container-privateprofile {
  margin: 5% auto;
  margin-bottom: 8%;
  width: 90%;
  display: flex;
  flex-direction: row;
  padding: var(--global-padding);
}

.container-aboutme {
  width: 40%;
}

.container-userinfo {
  width: 60%;
}

.container-infoboxes {
  margin-left: 5%;
  justify-content: space-around;
}

.infobox-cta-section {
  width: 80%;
  margin: 5% 0 0 3%;
  justify-content: space-around;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container-privateprofile h1 {
  text-align: left;
  font-size: 3vw;
  font-weight: 500;
}

.container-privateprofile h2 {
  text-align: left;
  font-size: 2vw;
  font-weight: 500;
  margin: 2vh 0;
}

.title-decoration-1 {
  height: 3px;
  width: 65%;
  background-color: var(--accent);
  align-self: center;
  margin: 0 0 0 3%;
}

.title-decoration-2 {
  height: 4px;
  width: 65%;
  background-color: var(--accent);
  align-self: center;
  margin: 0 0 0 3%;
}

.private-profile-img-border {
  border: var(--secondary) 0.5vw solid;
  width: 19vw;
  height: 19vw;
  border-radius: 1000px;
  align-self: center;
  margin: 2vh auto;
  overflow: hidden;
  position: relative;
  background-color: #222222;
}

.private-profile-img {
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.private-profile-img:hover,
.private-profile-upload-text:hover ~ .private-profile-img {
  filter: brightness(50%) blur(2px);
}

.private-profile-upload-text {
  all: unset;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-font);
  font-size: 2.3rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.private-profile-upload-text.missing-image {
  visibility: visible;
}

.private-profile-upload-text:hover {
  transform: translate(-50%, -50%) scale(1.05);
  text-decoration: underline;
}

.private-profile-img-border:hover .private-profile-upload-text {
  visibility: visible;
}

.aboutme-text {
  font-size: 1.2vw;
  overflow-wrap: break-word;
}

.user-context input[type="text"] {
  all: unset;
}

.public-profile-button {
  width: 12vw;
  height: 3vh;
}

@media only screen and (max-width: 768px) {
  .container-privateprofile {
    flex-direction: column;
  }

  .private-profile-img-border {
    width: 50vw;
    height: 50vw;
  }

  .container-privateprofile h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
  }

  .container-privateprofile h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    margin: 2vh 0;
  }

  .container-privateprofile p {
    font-size: 1rem;
  }

  .container-userinfo,
  .container-aboutme {
    width: 90%;
    margin: 10% auto;
  }

  .container-infoboxes,
  .infobox-cta-section {
    margin-left: 0%;
  }

  .infobox-cta-section {
    margin: 20% 0;
    width: 100%;
    flex-direction: column !important;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
  }

  .button {
    width: 70% !important;
    height: 15% !important;
    font-size: 1rem !important;
  }

  .container-inforow h3 {
    margin-left: 0;
  }

  .accent-fill {
    font-size: 1rem !important;
    width: 40%;
    height: 10% !important;
    margin-bottom: 5%;
  }

  .edit-button {
    margin: 8% 0 !important;
    font-size: 1rem !important;
  }

  .user-context {
    align-items: center;
  }
}
