.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 1% 2%;
}

.search-results > .search-header-background {
  position: absolute;
  background-color: var(--accent);
  width: 100%;
  top: var(--header-offset);
  height: calc(var(--header-height) + 100px);
  box-shadow: 0 0px 10px black;
}
