nav {
    background-color: rgb(10,10,10, 0);
    height: 15vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 0;
    width: 100%;
    justify-content: space-around;
    z-index: 3;
}

.scrolled{
    border-bottom: 4px solid #5E7DEB;
    background-color: #ea712f;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

input {
    font-size: 1.2rem;
    height: 30px;
    margin: 10px 10px;
    padding: 0 10px;
    width: 300px;
}

.search-button-nav {
    background-color: rgb(0,0,0,0);
    cursor: pointer;
    font-size: .8rem;
    margin: 0 3% 1% 0;
    border: 0;
    height: 30px;
    color:#f9f9f9;
}

.search-button-nav:hover {
    opacity: .7;
}

.search-bar{
    background-color: rgb(0,0,0,0);
    border: none;
    font-size: 1rem;
}

.search-div{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(0,0,0,0);
    border:#f9f9f9 2px solid;
    border-radius: 100px;
    width: 25vw;
    height: 5vh;
}

.logo{
    height: 5vw;
}

input:focus{
    outline: none;
}