.button {
  all: unset;
  cursor: pointer;
  border-radius: 10000px;
  padding: 8px;
  color: white;
  min-width: 100px;
  min-height: 15px;
  width: 150px;
  height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button.secondary-outline,
.button.accent-outline {
  border: 3px solid;
  font-size: 1.25rem;
  font-weight: 700;
}

.button.secondary-outline {
  border-color: var(--secondary);
}

.button.accent-outline {
  border-color: var(--accent);
}

.button.accent-fill {
  background-color: var(--accent);
  font-size: 1rem;
  font-weight: 500;
  height: 20px !important;
}

svg {
  margin-left: 10px;
  height: 1.3em;
}
