@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary: #161616;
  --secondary: #e7793c;
  --accent: #6394e3;
  --dark-font: #333;
  --white-font: #fff;

  --header-height: 15vh;
  --header-offset: -15vh;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  position: relative;
  top: var(--header-height);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
