header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #474747;
  border-bottom: 1px solid #e6e6e6;
  height: var(--header-height);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline-block;
  text-decoration: none;
  padding: 0 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
}

.container {
  z-index: 2;
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  justify-content: flex-start;
  margin-left: 5%;
}

.end {
  justify-content: flex-end;
  margin-right: 5%;
}
