.field {
  font-weight: 700;
  margin: 2%;
}
.box {
  padding-left: 2%;
}
.title {
  font-size: xx-large;
  width: 60%;
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form {
  display: flex;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-box {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  /*background-image: url('searchicon.png');*/
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 20px;
  font-family: "Montserrat", sans-serif;
}
.input-description {
  width: 200%;
  height: 250px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  padding: 12px 20px 12px 20px;
  font-family: "Montserrat", sans-serif;
}

.left-container-d {
  display: flex;
  align-self: center;
  flex-direction: column;
  color: var(--accent);
  padding-left: 10%;
  margin: 3%;
}

.right-container-d {
  display: flex;
  align-self: top;
  flex-direction: column;
  color: var(--accent);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3.5%;
}

.submit-button {
  align-self: center;
  justify-content: left;
  font-family: "Montserrat", sans-serif;
}

.input-description::placeholder,
.input-box::placeholder {
  color: grey;
  font-family: "Montserrat", sans-serif;
}

.image-upload {
  display: flex;
  align-self: center;
}

.dark-mode .field > input {
  color: var(--dark-mode-font);
  background-color: #424242;
}

.dark-mode .large-field > textarea {
  color: var(--dark-mode-font);
  background-color: #424242;
}
